.App {
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin:20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  padding: 10px 16px;
  text-align: right;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size:32px;
  cursor:pointer;
  font-family: 'Pacifico', cursive;
}

input {
  font-size:32px;
  font-family: 'Pacifico', cursive;
  width: 50px;
  height: 70px;
}

.App-link {
  color: #09d3ac;
}
